<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <!--folder name=where the pictures/files will always be-->
        <add key="folderName" value="101MSDCF" />
        <!--downloadLocation= where to store downloaded stuff-->
        <add key="downloadLocation" value="C:\Users\ICO\Documents\visual studio 2015\Projects\FotoAparatDownload\testing" />
      </appSettings>

</configuration>



